body{
    background-color: black;
    color: cadetblue;
    font-family: fantasy;
    letter-spacing: 0.2em;
}
.container{
    width: 80%;
    margin: auto;
    padding: 6px;
}
.container li{
    list-style: none;
}
.container h1{
    text-align: center;
    text-emphasis: bold;
    background-color: darkslategray;
    color: floralwhite;
    padding: 10px;
    letter-spacing: 0.2em;
}
.navbar{
    text-align: center;
    background-color: rgb(2, 77, 138);
    color: floralwhite;
    list-style-type: none;
    list-style-image: none;
    list-style: none;
}
.navbar ol{
    list-style: none;
    display: flex;
    display: inline-flex;  
    padding: 2px; 
}
.container li{
    padding: 6px;
    border-bottom: oldlace;
    border-bottom-style: dashed 1px;
    list-style-image: url(/Users/sarahswhere/javascript-practice/images/bluechk.jpg);
    letter-spacing: 0.2em;
}
#sidebar{
    float: left;
    width: 30%;
    background-color: rgb(2, 77, 138);
    color: floralwhite;
    padding: 15px;
    box-sizing: border-box;
    line-height: 2.0em;
    text-align: center;
}
.learn{
    float: right;
}
footer{
    text-align: center;
    text-emphasis: bold;
    background-color: darkslategray;
    color: floralwhite;
    width: 80%;
    margin: auto;
    padding: 6px;
}